# Server
PORT=5000
NODE_ENV=development

# MongoDB connection string
# Local example:      mongodb://127.0.0.1:27017/travel-itinerary-planner
# MongoDB Atlas example: mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/travel-itinerary-planner
MONGO_URI=mongodb://127.0.0.1:27017/travel-itinerary-planner

# JWT
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# Frontend origin (for CORS)
CLIENT_ORIGIN=http://localhost:5173
